.inputBlock {
    margin: 20px 35%;
    padding: 10px;
    left: 1.5em;
    right: 1.5em;
    top: 1em;
    height: 3.75em;
    white-space: nowrap;
    border-radius: 2em;
    box-shadow: 0 1.5px 3px rgb(0 0 0 / 25%);
    background: #fff;
    background-size: contain;
}

.inputBlock input {
    font-size: 16px;
    font-weight: bold;
    padding-left: 14px;    
    border-radius: 2em;
    border: 1px solid #ccc;
    height: 2.5em;
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 13%);
    width: 50%;
    background: #fff;
}    
.inputBlock button {
    margin-left: 20px;
    font-size: 18px;
    border-radius: 2em;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-family: "Montserrat";
    background: #34b9d6;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
